@page "/counter"


<div class="header">
    <div class="col">Order Numbe</div>
    <div class="col">Customer Name</div>
    <div class="col">Order Type</div>
    <div class="col">Created Date</div>
    <div class="col">Status</div>
    <div class="col"></div>
</div>



@code {
   
}
